/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
  max-width: 100%;
}

/* Fonts */
/* dm-sans-regular - latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local(''),
         url('../fonts/dm-sans-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/dm-sans-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-sans-500 - latin */
  @font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local(''),
         url('../fonts/dm-sans-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/dm-sans-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-sans-700 - latin */
  @font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(''),
         url('../fonts/dm-sans-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/dm-sans-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rosario-700 - latin */
@font-face {
    font-family: 'Rosario';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(''),
         url('../fonts/rosario-v26-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rosario-v26-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* Common styles */
body {
    width: 100%;
    background-color: #fff;
    color: #555555;
    font-weight: normal;
    font-size: 18px;
    font-family: 'DM Sans';
}
.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}  
.wrapper_hero {
    position: relative;
    background-image: url(../images/bg-main.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 800px;
}
.button {
    position: relative;
    color: #222222;
    font-size: 18px;
    font-weight: 500;
    font-family: 'DM Sans';
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s linear;
}
.button:hover {
    transform: scale(0.95);
}
.button::after {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #09A66D;
    background-image: url(../images/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    position: absolute;
    right: -80px;
    top: -20px;
}

/* Header styles */
.header {
    padding: 50px 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: flex;
    align-items: center;
    column-gap: 40px;    
}
.nav__link {
    color: #222222;
    transition: all .3s linear;
}
.nav__link:hover {
    color: #09A66D;
}
.header__wrapper {
    display: flex;
    align-items: center;
}
.header-info {
    display: flex;
    align-items: center;
    margin-right: 32px;
}
.header-info__item {
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #F3FBF8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s linear;
}
.header-info__item:hover {
    transform: scale(0.9);
}
.header-info__item:first-child {
    margin-right: 20px;
}
.header-info__item_basket::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #09A66D;
    position: absolute;
    top: 8px;
    right: 13px;
}
.header__button {
    width: 160px;
    border: none;
    background-color: #09A66D;
    border-radius: 8px;
    color: #fff;
    padding: 12px 23px;
    cursor: pointer;
}

/* Hero styles */
.hero {
    position: relative;
    background-color: #F3FBF8;
    padding: 90px 0 30px 0;
}
.hero::before {
    content: '';
    display: block;
    width: 612px;
    height: 408px;
    background-image: url(../images/leavs1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 200px;
    top: -50px;
}
.hero__inner {
    text-align: center;
}
.hero__title {
    font-size: 70px;
    line-height: 90px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #222222;
}
.hero__subtitle {
    max-width: 630px;
    line-height: 30px;
    margin: 0 auto 40px;
}
.hero-info {
    width: 250px;
    margin-left: auto;
}
.hero-info__item {
    display: flex;
    align-items: center;
    color: #000000;
    background-color: #ffffff;
    padding: 17px 30px;
    margin-bottom: 30px;
}
.hero-info__item:last-child {
    margin-bottom: 0;
}
.hero-info__text {
    margin-left: 24px;
}
.hero-info__head {
    display: block;
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
}
.hero-info__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #F3FBF8;
}
.hero-info__text {
    width: 105px;
    text-align: center;
}