/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
  max-width: 100%;
}

/* Fonts */
/* dm-sans-regular - latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local(''),
         url('../fonts/dm-sans-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/dm-sans-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-sans-500 - latin */
  @font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local(''),
         url('../fonts/dm-sans-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/dm-sans-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-sans-700 - latin */
  @font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(''),
         url('../fonts/dm-sans-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/dm-sans-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rosario-700 - latin */
@font-face {
    font-family: 'Rosario';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(''),
         url('../fonts/rosario-v26-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rosario-v26-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Slick slider */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


/* Common styles */
body {
    width: 100%;
    background-color: #fff;
    color: #555555;
    font-weight: normal;
    font-size: 18px;
    font-family: 'DM Sans';
}
.wrapper {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
}  
.wrapper_hero {
    position: relative;
    background-image: url(../images/bg-main.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 800px;
}
.button {
    position: relative;
    color: #222222;
    font-size: 18px;
    font-weight: 500;
    font-family: 'DM Sans';
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s linear;
}
.button:hover {
    transform: scale(0.95);
}
.button::after {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #09A66D;
    background-image: url(../images/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    position: absolute;
    right: -80px;
    top: -20px;
}
.title-main {
    font-family: 'Rosario';
    color: #222222;
    font-size: 70px;
    line-height: 90px;
    margin-bottom: 20px;
}
.title-main_explore {
    padding-top: 10px;
}
.subtitle-main {
    margin-bottom: 50px;
}
.subtitle-main_app {
    max-width: 574px;
}
.title-main_app {
    max-width: 662px;
}
/* Header styles */
.header {
    padding: 50px 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: flex;
    align-items: center;
    column-gap: 40px;    
}
.nav__link {
    color: #222222;
    transition: all .3s linear;
}
.nav__link:hover {
    color: #09A66D;
}
.header__wrapper {
    display: flex;
    align-items: center;
}
.header-info {
    display: flex;
    align-items: center;
    margin-right: 32px;
}
.header-info__item {
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #F3FBF8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s linear;
}
.header-info__item:hover {
    transform: scale(0.9);
}
.header-info__item:first-child {
    margin-right: 20px;
}
.header-info__item_basket::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #09A66D;
    position: absolute;
    top: 8px;
    right: 13px;
}
.header__button {
    width: 160px;
    border: none;
    background-color: #09A66D;
    border-radius: 8px;
    color: #fff;
    padding: 12px 23px;
    cursor: pointer;
}

/* Hero styles */
.hero {
    position: relative;
    background-color: #F3FBF8;
    padding: 90px 0 50px 0;
}
.hero::before {
    content: '';
    display: block;
    width: 612px;
    height: 408px;
    background-image: url(../images/leavs1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 200px;
    top: -50px;
}
.hero__inner {
    text-align: center;
}
.hero__title {
    font-size: 70px;
    line-height: 90px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #222222;
}
.hero__subtitle {
    max-width: 630px;
    line-height: 30px;
    margin: 0 auto 40px;
}
.hero-info {
    width: 250px;
    margin-left: auto;
}
.hero-info__item {
    display: flex;
    align-items: center;
    color: #000000;
    background-color: #ffffff;
    padding: 17px 30px;
    margin-bottom: 30px;
}
.hero-info__item:last-child {
    margin-bottom: 0;
}
.hero-info__text {
    margin-left: 24px;
}
.hero-info__head {
    display: block;
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
}
.hero-info__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #F3FBF8;
}
.hero-info__text {
    width: 105px;
    text-align: center;
}

/* Why section styles */
.why {
    padding: 140px 0;
    background-image: url(../images/why-bg.png);
    background-repeat: no-repeat;
    background-position: 96% -7%;
    background-size: auto;
}
.why__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.why__image {
    width: 550px;
    height: 550px;
    object-fit: contain;
}
.why-list {
    max-width: 500px;
    margin-bottom: 50px;
}
.why-list__item {
    display: flex;
    align-items: center;
    padding: 40px 60px;
    transition: all 0.3s linear;
}
.why-list__item:hover {
    background-color: #F3FBF8;
}
.why-list__image {
    width: 80px;
    height: 80px;
    background-color: #F3FBF8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    transition: all 0.3s linear;
}
.why-list__item:hover .why-list__image {
    background-color: #ffffff;
}
.why-list__info {
    max-width: 277px;
    font-size: 20px;
    color: #222222;
    font-weight: 700;
}
.why-list__span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    font-weight: normal;
}
.why__arrow {
    margin: 0 auto;
    display: block;
}

/* Explore section styles */
.explore {
    padding: 88px 0 140px 0;
    background-image: url(../images/leavs1.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 90% 100%;
    background-color: rgba(9, 166, 109, 0.05);
}
.explore__inner {
    display: flex;
    justify-content: space-between;
}
.explore__image {
    width: 600px;
    height: 600px;
    object-fit: contain;
    margin-right: 50px;
}

/* Reviews styles */
.review {    
    padding: 96px 0 150px 0;
}
.title-main_review {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 640px;
}
.slide__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider {
    padding-top: 130px;
}
.slider__image {
    position: relative;
}
.slider-image {
    width: 500px;
    height: 500px;
    object-fit: contain;
}
.slider__image::after {
    content: '';
    display: block;
    width: 220px;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url('../images/review-group.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.slider__info {
    width: calc(100% - 600px);
}
.author__name {
    font-size: 30px;
    color: #222222;
    margin-bottom: 20px;
    font-weight: 500;
}
.stars {
    display: flex;
    align-items: center;
}
.stars__icon {
    margin-right: 9px;
}
.stars__icon:last-child {
    margin-right: 0;
}
.slider__arrow {
    position: absolute;
    bottom: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-size: 10px 16px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    transition: all .3s linear;
    z-index: 2;
}
.slider__arrow:hover {
    background-color: #09A66D;
}
.slider__arrow_prev {
    background-image: url(../images/svg/arr-left.svg);
    left: 326px;
}
.slider__arrow_next {
    background-image: url(../images/svg/arr-right.svg);
    left: 415px;
}

/* App block styles */
.application__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 140px;
}
.application__image {
    position: relative;
    width: 239px;
    margin-right: 112px;    
}
.application__image::before {
    content: '';
    display: block;
    width: 210px;
    height: 434px;
    position: absolute;
    left: -27px;
    top: 30px;
    background-image: url(../images/app-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    transition: all .3s linear;
}
.application__image:hover::before {
    left: -50px;
}
.application__info {
    width: calc(100% - 351px);
}
.application__button {
    width: 170px;
    padding: 10px;
    background-color: #F3FBF8;
    border-radius: 50px;
    margin-bottom: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: all .3s linear;
}
.application__button:hover {
    background-color: #3ee0a3;
}
.application__pictures {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.app-btn {
    width: 104px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.app-btn_apple {
    background-image: url(../images/appstore.png);
    margin-right: 24px;
}
.app-btn_gplay {
    background-image: url(../images/gplay.png);
}

/* Footer styles */
.footer {
    padding: 60px 0;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer__block {
    padding-top: 20px;
}
.footer-info {
    max-width: 345px;
}
.footer-info__image {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}
.footer-info__text {
    line-height: 30px;
}
.footer__title {
    color: #222222;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 500;
}
.footer-list__item {
    margin-bottom: 24px;
}
.footer-list__item:last-child {
    margin-bottom: 0;
}
.footer-list__link {
    color: #555555;
    transition: all .3s linear;
    border-bottom: 1px solid transparent;
}
.footer-list__link:hover {
    border-bottom: 1px solid #555555;
}
.contact-link {
    color: #222222;
    transition: all .3s linear;
    border-bottom: 1px solid transparent;
    margin-bottom: 20px;
    display: block;
}
.contact-link:hover {
    border-bottom: 1px solid #555555;
}
.socials {
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.socials__link  {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .5s linear;
}
.socials__link:hover {
    transform: rotate(180deg);
}
.socials__link_facebook {
    background-image: url(../images/svg/facebook.svg);
}
.socials__link_twitter {
    background-image: url(../images/svg/twitter.svg);
}
.socials__link_insta {
    background-image: url(../images/svg/instagram.svg);
}